@layer base {
  .wrapper {
    min-height: 100vh;
    @apply flex flex-col;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(240deg, #5522fa, #ff6b6b, #ff9f40, #ffc729, #ffd633, #3355fa) 1;
    animation: liquidGradient 10s ease infinite;
  }

  main {
    @apply flex flex-col flex-auto w-full bg-white;
  }
}
